{% load pos_extras %}<div class="khbl-item" style="position:relative">
  <div class="khbl-item__id">
    <span class="khbl-item__code">{{ m.code }}</span>
    <span class="khbl-item__name">{{ m.name }}</span>
    <span class="khbl-chip khbl-chip--{{ m.age }}">{{ m.gold_desc }}</span>
    {% if m.section %}<span class="khbl-chip khbl-chip--sec">{{ m.section }}</span>{% endif %}
    {% if m.group %}<span class="khbl-chip">{{ m.group }}</span>{% endif %}
    <button class="khbl-btn khbl-btn--ghost khbl-btn--sm" type="button" style="margin-left:auto"
            hx-post="{% url 'pos:ban_xoa' %}" hx-vals='{"code": "{{ m.code }}"}' hx-swap="none">Bỏ món ×</button>
  </div>

  <div class="khbl-item__wgrid">
    <div class="khbl-item__w"><span>Tổng TL</span><b>{{ m.tw|tl_man:m.unit }}</b><i>({{ m.tw }})</i></div>
    <div class="khbl-item__w"><span>Hột</span><b>{{ m.dw|tl_man:m.unit }}</b><i>({{ m.dw }})</i></div>
    <div class="khbl-item__w"><span>Vàng ròng</span><b>{{ m.gr|tl_man:m.unit }}</b><i>({{ m.gr }})</i></div>
    <div class="khbl-item__w"><span>Tem</span><b>{{ m.stamp|tl_man:m.unit }}</b></div>
    {% if m.ring != "0" %}<div class="khbl-item__w"><span>Ni nhẫn</span><b>{{ m.ring }}</b></div>{% endif %}
  </div>

  <div class="khbl-calc">
    {{ m.gr|tl_man:m.unit }} × {{ m.rate|nhan:1000|tien_tran }} = <b>{{ m.tien_vang|tien_tran }}</b>
    {% if m.task != "0" %} + công <b>{{ m.task|nhan:1000|tien_tran }}</b>{% endif %}
    = <b>{{ m.amount|tien }}</b>
  </div>
</div>
